<h1>My watched lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><%=h list.name %></td>
    <td><%=h list.description %></td>
  </tr>
<% end %>
</table>

